<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048268474415-62gkpvclv50e84p5t84b3fb1t2u4acgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048268474415-62gkpvclv50e84p5t84b3fb1t2u4acgv</string>
	<key>API_KEY</key>
	<string>AIzaSyApGpDjQxHjWmlOfge0XQtxBKTmg3sPIJM</string>
	<key>GCM_SENDER_ID</key>
	<string>1048268474415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.codeismail.Maze</string>
	<key>PROJECT_ID</key>
	<string>maze-8f371</string>
	<key>STORAGE_BUCKET</key>
	<string>maze-8f371.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048268474415:ios:70085b92949d4403f55eda</string>
</dict>
</plist>